@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin dark-mode {
 @media (prefers-color-scheme: dark) {
  @content;
 }
}

@layer utilities {
 .shadow-default {
  box-shadow: 0 0 3px rgba(0, 0, 0, .15);

  @include dark-mode {
   box-shadow: 0 0 3px rgba(255, 255, 255, .35);
  }
 }

 .bg-theme {
  @apply bg-light;

  @include dark-mode {
   @apply bg-dark;
  }
 }

 .color-theme {
  @apply text-dark;

  @include dark-mode {
   @apply text-light;
  }
 }

 .toggle-opacity {
  opacity: .5;

  &:hover,
  &:focus {
   opacity: 1;
  }
 }

 .btn-hover {

  &:hover,
  &:focus-within {
   @apply bg-dark/5 transition-colors;

   @include dark-mode {
    @apply bg-light/10
   }
  }
 }

}


@layer components {
 .auth {

  @apply flex flex-col gap-2 w-full py-4;

  span {
   @apply text-sm text-center;
  }

  .providers {
   @apply flex flex-col gap-2 w-full;
  }

  button {
   @apply flex justify-center items-center gap-2 py-2 text-3xl px-12 rounded-md transition-colors duration-100;


   span {
    @apply uppercase font-bold;
   }

   svg {
    height: 1em;
    width: 1em;
   }

   &.discord {
    background: theme("colors.discord");
    color: theme("colors.light");
   }

   &.twitter {
    background: theme("colors.twitter");
    color: theme("colors.light")
   }

   &:hover,
   &:focus {
    filter: brightness(1.2);
   }
  }

  @media (min-width: theme("screens.sm")) {
   max-width: 75%;
  }
 }

 .icon {
  @apply h-7 w-7;

  @media (min-width: theme("screens.xs")) {
   @apply h-8 w-8;
  }
 }

 .icon-w-text {
  @apply flex flex-col gap-2 p-2 rounded items-center w-full justify-between;

  &.active,
  &:hover,
  &:focus-within {

   svg {
    stroke-width: 2px;
   }
  }

  span {
   @apply hidden text-sm;

   @media (min-width: theme("screens.sm")) {
    @apply block;
    @apply text-xs;
   }
  }
 }

 .prompt {
  @apply w-full flex flex-col;
  max-width: 480px;
  width: min(100%, 480px);

  .header {
   @apply flex gap-2 py-2 items-center;
  }

  .actions,
  .header,
  .details {
   @apply px-4;
  }

  .actions {
   @apply flex gap-4 py-2;
  }

  .likes {
   @apply text-sm;
  }

  .details {
   @apply flex flex-col gap-2 mb-2;

   .description {
    @apply text-sm;

    span {
     @apply mr-2 font-bold text-sm;
    }
   }

   .comments {
    @apply max-w-full font-bold w-max text-sm toggle-opacity;
   }

   .date {
    @apply text-xs;
   }
  }

  .option {
   @apply font-display text-3xl relative w-full px-4 text-white transition-opacity w-full px-4 text-white transition-opacity;

   min-height: 150px;
   background: linear-gradient(112.9deg, theme("colors.primary"), #014C57 100%);
   text-shadow: 0 4px 4px rgba(0, 0, 0, .15);

   .winner {
    position: absolute;
    content: "";
    top: .2em;
    filter: drop-shadow(3px 3px 3px rgba(0 0 0 / .75));
    left: .2em
   }

   .votes {
    position: absolute;
    content: "";
    bottom: 0.5em;
    right: 1em;

   }

   &:nth-child(even) {
    background: linear-gradient(247.1deg, #FD0D0D 0%, #6B0404 100%);
   }

   &:hover,
   &:focus {
    filter: brightness(1.2);

    &:disabled {
     filter: none;
    }
   }

   &:disabled {
    opacity: .75;
   }
  }

  @media (min-width: theme("screens.sm")) {
   max-width: 480px;
   @apply shadow-default rounded-md;
  }
 }

 .account-header {
  position: relative;

  &::after {
   @apply bg-dark/25 absolute top-0 w-full;
   position: absolute;
   height: 50%;
   width: 100%;
   content: "";
   top: 0;
   z-index: 1;

   @include dark-mode() {
    @apply bg-light/25;
   }
  }
 }


 .spinner {
  @apply rounded-full border-2 border-transparent border-r-dark border-t-dark border-solid;
  animation: spin infinite 1250ms linear;

  @media (prefers-color-scheme: dark) {
   @apply border-r-light border-t-light
  }

  @keyframes spin {
   100% {
    rotate: 180deg;
    transform: rotate(180deg);
   }
  }
 }

 .skeleton {
  @apply bg-white/25;


  &.animate {
   animation: infinite ease-in-out 2s alternate flash;

   @keyframes flash {
    100% {
     @apply bg-white/75;
    }
   }
  }
 }
}

@layer base {

 *,
 *::before,
 *::after {
  font: inherit;
  box-sizing: border-box;
 }

 html {
  color-scheme: dark light;
 }

 body {
  padding: 0;
  margin: 0 auto;
  max-width: theme("screens.2xl");
  background: #fff;
  color: theme("colors.dark");

  @media (prefers-color-scheme: dark) {
   background: #000;
   color: theme("colors.light");
  }
 }

 a {
  color: inherit;
  text-decoration: none;
 }

 button {
  border: none;
  background: transparent;
 }

 img,
 svg {
  display: block;
  max-width: 100%;
 }

 input,
 textarea,
 button,
 select {
  font: inherit;
  background: transparent;
 }

 label {
  opacity: 1;
  @apply color-theme;
 }

 input,
 textarea {
  &::placeholder {
   @apply color-theme;
   opacity: .75;
  }

  &:focus {
   outline: none;
  }
 }

 :disabled {
  cursor: not-allowed;
 }
}