@tailwind base;
@tailwind components;
@tailwind utilities;
@import "_mixins";

@layer base {

 *,
 *::before,
 *::after {
  font: inherit;
  box-sizing: border-box;
 }

 html {
  color-scheme: light dark;
 }

 body {
  background: #fff;
  margin: 0 auto;
  color: theme("colors.smoky-black");
 }

 a {
  color: inherit;
  text-decoration: none;
 }

 button {
  border: none;
  background: transparent;
  outline: none;
 }

 img,
 svg {
  display: block;
  max-width: 100%;
 }

 input,
 textarea,
 button,
 select {
  font: inherit;
  background: transparent;
  position: relative;
 }

 label {
  color: theme("colors.smoky-black");
 }

 input,
 textarea {

  &::placeholder {
   opacity: 0.75;
   color: theme("colors.smoky-black");
  }

  &:focus {
   outline: none;
  }
 }

 :disabled {
  cursor: not-allowed;
 }

 @media (prefers-color-scheme: dark) {
  body {
   background: #000;
  }

  body,
  label,
  input::placeholder,
  textarea::placeholder {
   color: theme("colors.lotion");
  }
 }
}

@layer components {
 .btn-primary {
  background: theme("colors.primary");
  color: theme("colors.lotion");
  border: 2px solid theme("colors.primary");
  transition: background-color ease-in-out 100ms;

  &:hover,
  &:focus {
   background: transparent;
   color: theme("colors.primary");
  }

  @include dark-mode() {
   background: theme("colors.secondary");
   border: 2px solid theme("colors.secondary");

   &:hover,
   &:focus {
    color: theme("colors.secondary");
   }
  }
 }

 .icon {
  height: 1.75rem;
  width: 1.75rem;
 }

 .versus {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
   gap: 0.5rem;
   align-items: center;
   justify-content: space-between;
  }

  .actions,
  .header,
  .details {
   display: flex;
   padding: .5rem;
  }

  .actions {
   display: flex;
  }

  .likes {
   font-size: 0.875rem;
   line-height: 1.25rem;
  }

  .details {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   margin-bottom: 0.5rem;
   font-size: 0.875rem;
   line-height: 1.25rem;

   .description {

    span {
     margin-right: 0.25rem;
     font-weight: bold;
     font-size: inherit;
     line-height: inherit;
    }
   }

   .date {
    color: black;
    font-weight: bold;
    opacity: 0.75;

    @include dark-mode() {
     color: white;
    }
   }
  }

  .option {
   display: flex;
   width: 100%;
   min-height: 144px;
   padding: 0.5rem;
   transition: 200ms opacity ease-in-out;
   background: theme("backgroundImage.gradient-primary");
   font-family: var(--bebas);
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: theme("colors.lotion");
   text-align: center;
   word-break: break-all;
   position: relative;
   text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
   @include fluid-type(300px, 560px, 18px, 40px);

   .votes {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    display: flex;
    gap: 0.25rem;
    @include fluid-type(300px, 560px, 14px, 20px);
   }

   &:nth-child(odd) {
    background: theme("backgroundImage.gradient-secondary");
   }

   &:disabled {
    pointer-events: none;
   }

   &:hover,
   &:focus {
    filter: brightness(1.1);
   }

   @media (min-width: theme("screens.sm")) {
    .votes {
     flex-direction: column;
     justify-content: center;
     gap: 0;
    }
   }

   @media (min-height: 768px) {
    min-height: 20vh;
   }

   @media (min-height: 800px) {
    max-height: 100%;
   }
  }
 }
}

@layer utilities {
 .fluid-type {
  @include fluid-type(300px, 560px, 18px, 30px);
 }

 .fluid-type-sm {
  @include fluid-type(300px, 560px, 14px, 18px);
 }
}