@import "_mixins.scss";
@tailwind components;

.header {
 @apply bg-lotion-semi-opaque;
 position: fixed;
 bottom: 0;
 z-index: 40;
 width: min(100dvw, 100vw);

 nav {
  @apply flex-row font-sans text-lg border-solid border-t-2 border-t-lotion-translucent;
  display: flex;

  svg {
   height: 1.5em;
   width: 1.5em;
  }

  a,
  button {
   @apply w-full p-2 bg-transparent text-inherit transition-colors;
   display: block;
   color: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 0;

   &.active,
   &:hover,
   &:focus-within {
    @apply backdrop-blur-sm bg-smoky-black-translucent;
    color: inherit;

    @include dark-mode() {
     @apply bg-lotion-translucent;
    }
   }

   span {
    display: none;
   }

   a {
    @apply gap-6;
    display: flex;
   }
  }

  span {
   order: 0;
  }

  a {

   &:nth-child(4),
   &:nth-child(5) {
    order: 9999;
   }
  }

  button {
   order: 3;
  }
 }

 @include dark-mode() {
  @apply text-inherit bg-smoky-black-semi-opaque;

  nav {
   @apply border-smoky-black-translucent;
  }
 }

 @include small() {
  @apply px-2;
  @apply drop-shadow-none;
  position: sticky;
  top: 0;
  background: transparent;
  height: min-content;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  nav {
   flex-direction: column;
   @apply gap-4;

   a,
   button {
    @apply gap-6 p-2 rounded-full;

    &.active {
     @apply bg-transparent font-bold;
    }

    &:hover,
    &:focus {
     @apply bg-smoky-black-translucent;

     @include dark-mode() {
      @apply bg-lotion-translucent;
     }
    }
   }

   button {
    order: 9999;
   }
  }
 }

 @include tablet() {
  align-items: flex-start;
  min-width: 3rem;

  nav {

   a,
   button {
    align-items: flex-end;

    span {
     display: none;
    }

    &:hover,
    &:focus {
     @apply bg-smoky-black-translucent;
     color: inherit;

     @include dark-mode() {
      @apply bg-lotion-translucent;
     }
    }
   }

   button {
    @apply font-display text-lotion;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1);
   }
  }
 }

 @include desktop() {
  nav {
   min-width: 200px;
   align-items: flex-end;
   flex-grow: 1;

   a,
   button {
    @apply p-2 justify-start rounded-md;
    justify-content: flex-start;

    span {
     display: inline-flex;
    }
   }

   button {
    @apply bg-primary transition-colors border-solid border-2 border-primary;
    justify-content: center;

    @include dark-mode() {
     @apply bg-secondary border-secondary;
    }

    &:hover,
    &:focus,
    &:active {
     @apply bg-transparent;
    }

    svg {
     display: none;
    }
   }
  }
 }
}